.card {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 15vh;
    /* background: #f0f2f5; */
  }
  
  .cards-container {
    display: flex;
    gap: 20px;
  }
  .card-wrapper {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    margin: 10px;
  }